<% layout('layout') %>

<div class="outerContact" id="contact">
  <h1 class="ContactText">Contact Us</h1>
  <h2 class="ContactText">Share Your Experiences!!</h2>
  <div class="contact">
    <form action="/submit_form" method="post">
      <h2>Get in touch</h2>
      <p>Tell us about your Concerns!</p>
      <div class="formfields">
        <label class="ContactLabel" for="name">Your Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name.."
          class="fields"
        />
        <label class="ContactLabel" for="Email">Your Email:</label>
        <input
          type="email"
          id="Email"
          name="Email"
          placeholder="Enter your Email.."
          class="fields"
        />
        <label class="ContactLabel" for="message">Your message:</label>
        <textarea
          id="message"
          name="message"
          placeholder="Your message.."
          class="fields"
        ></textarea>
        <button class="contactbtn" id="subbtn">Submit</button>
      </div>
    </form>
  </div>
</div>
