<div class="mt-5">
  <h1>About Us</h1>
  <p>
    We are Foodies, a premier dining destination that offers a wide range of
    culinary delights to tantalize your taste buds.
  </p>
  <p>
    Our mission is to provide exceptional food and service to our customers,
    ensuring that every dining experience is memorable.
  </p>
</div>
