*{
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
    color: black;
}
.navbar-brand{
    width: 10%;
}
.LogoImg{
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
}
.nav-item{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    border: 0;
    padding: 12px 30px;
}
.btn-brand{
    background-color:orange;
    color: white;
    font-weight: 600;
    transition: all 0.1s ease-ins;
}
.btn:hover{
  background-color: rgb(254, 188, 66);
}
.carousel-item{
    height: 100vh;
}
.carousel-item img{
    height: 100%;
    width: 100%;
}