*{
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
    color: black;
}
.navbar-brand{
    width: 10%;;
    margin-left: 3%;
}
.LogoImg{
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
}
.icon{
    width: 25%;
    cursor: pointer;
    transition: all 0.1s ease;
}
.icona{
    width: 20%;
}
.icon:hover{
    transform: scale(1.3);
}
.nav-item{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbarflex{
    display: flex;
    align-items: end;
    justify-content: end;
}
.btn{
    border: 0;
    padding: 12px 30px;
}
.btn-brand{
    background-color:orange;
    color: white;
    font-weight: 600;
    transition: all 0.1s ease-ins;
}
.btn:hover{
  background-color: rgb(254, 188, 66);
}
.slide-1{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Assets/Slide1.png);
}

.slide-2{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Assets/Slide2.png);
}

.slide-3{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Assets/Slide3.png);
}
.backgroundimg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.font{
    font-size: 65px;
    margin-bottom: 30px;
}

.buttonDesign{
    cursor: pointer;
    position: relative;
    z-index: 100;
    transition: all 0.2s ease;
}
.buttonDesign:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.1);
}
